h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}
.alert.error {
    background-color: red
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Sell{
    background-color: red
}
.Buy{
    background-color: green
}
.Neutral{
    background-color: #A9A9A9
}
.Oversold{
    background-color: green
}
.Overbought{
    background-color: red
}
